*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #0f172a;
    color: white;
}

/* HEADER */

.header{
    width: 100%;
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(15, 23, 42, 0.8);
}

.logo{
    text-decoration: none;
    color: #8b5cf6;
    font-size: 28px;
    font-weight: bold;
}

nav{
    display: flex;
    align-items: center;
    gap: 25px;
}

nav a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover{
    color: #8b5cf6;
}

.login-btn{
    background: #8b5cf6;
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover{
    transform: scale(1.05);
}

/* HERO */

.hero{
    width: 100%;
    min-height: 100vh;
    padding: 140px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero-text{
    max-width: 600px;
}

.hero-text h1{
    font-size: 60px;
    margin-bottom: 25px;
    line-height: 1.2;
}

.hero-text p{
    font-size: 20px;
    color: #cbd5e1;
    line-height: 1.8;
}

.buttons{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.primary-btn{
    background: linear-gradient(135deg, #8b5cf6, #7c3aed);
    border: none;
    color: white;
    padding: 15px 28px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

.primary-btn:hover{
    transform: scale(1.05);
}

.secondary-btn{
    background: transparent;
    border: 2px solid #8b5cf6;
    color: white;
    padding: 15px 28px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}

.secondary-btn:hover{
    background: #8b5cf6;
}

.hero-image img{
    width: 500px;
    animation: float 3s ease-in-out infinite;
}


/* PASSOS */

.steps-section{
    padding: 120px 10%;
    text-align: center;
}

.steps-section h2{
    font-size: 42px;
    margin-bottom: 70px;
}

.steps{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.step{
    background: #1e293b;
    padding: 40px;
    width: 250px;
    border-radius: 20px;
}

.step span{
    width: 60px;
    height: 60px;
    background: #8b5cf6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

/* CTA */

.cta{
    padding: 120px 10%;
    text-align: center;
}

.cta h2{
    font-size: 48px;
    margin-bottom: 40px;
}

.cta button{
    background: linear-gradient(135deg, #8b5cf6, #7c3aed);
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.cta button:hover{
    transform: scale(1.05);
}

/* ANIMAÇÃO */

@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}

.rodape-principal {
    background-color: blueviolet;
    color: white;
    padding: 15px;
    text-align: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #7B2CBF;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    line-height: 60px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: 0.3s;
    text-decoration: none;
}